{% extends "../crazymix/base.html" %}
{% load static %}
{% block contenu %}
    <h2 class="mb-4"></h2>
    <ul class="messages">
        {% for message in messages %}
            <li {% if message.tags %} class="{{ message.tags }} text-danger"{% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
    <div class="d-flex justify-content-between mt-5">
        {#        <div  >#}
        <div style="width:-webkit-fill-available">
            {% for x in extraits %}
                <div class="row">
                  <h4 class="col-12">{{ x.nom }}</h4>
                    <div>
                        {% if x.partage == 'PUBLIC' %}
                            <a class="col-1 mt-2" href="{% url 'modifierPartage' x.id %}"><img class="rounded-pill"
                                                                src="{% static 'crazymix/img/public.png' %}"
                                                                style="Width:30px;"/></a>
                            <p class="text-center">Public</p>

                        {% elif x.partage == 'PERSONNEL' %}
                            <a class="col-1 mt-2" href="{% url 'modifierPartage' x.id %}"><img class="rounded-pill"
                                                                src="{% static 'crazymix/img/private.png' %}"
                                                                style="Width:30px;"/></a>
                            <p class="text-center">Privé</p>
                        {% elif x.partage == 'COMMUNAUTE' %}
                            <a class="col-1 mt-2" href="{% url 'modifierPartage' x.id %}"><img class="rounded-pill"
                                                                src="{% static 'crazymix/img/community.png' %}"
                                                                style="Width:30px;"/></a>
                            <p class="text-center">Artistes</p>
                        {% endif %}


                    </div>

                    <audio class="col-9" controls>
                        <source src=" {{ x.audio }}">

                    </audio>
                    <a class="col-1 mt-2" href="{% url 'supprimerExtrait' x.id %}"><img
                            src="{% static 'crazymix/img/corbeille.png' %}"
                            style="Width:20px;"/></a>

                </div>
                <div class="mt-5"></div>
            {% endfor %}
        </div>
        <div>
            <div class="card pb-5 pr-4 pl-3 pt-3">
                <h4 class="mb-3">Télécharger un nouvel extrait</h4>
                <form method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="form-group mb-5">
                        <label class="mb-3" for="upload">Sélectionner un fichier audio :</label>
                        <input type="file" name="uploadAudio" id="uploadAudio" accept="audio/*">
                    </div>

                    <div  class="form-group mb-5">
                        <div>
                             <label for="nom">Titre de l'extrait</label>
                        <input type="text" name="nom">
                        </div>

                        <label class="mb-3">Partage :</label>
                        <div class="form-check">
                             <input class="form-check-input" type="checkbox" name="partage" id="public" value="PUBLIC" onclick="deselectOtherCheckboxes(this)">
                             <label class="form-check-label" for="public">Public</label>
                        </div>
                        <div class="form-check">
                             <input class="form-check-input" type="checkbox" name="partage" id="communaute" value="COMMUNAUTE" onclick="deselectOtherCheckboxes(this)">
                             <label class="form-check-label" for="communaute">Communauté</label>
                        </div>

                        <div class="form-check">
                             <input class="form-check-input" type="checkbox" name="partage" id="personnel" value="PERSONNEL" onclick="deselectOtherCheckboxes(this)">
                             <label class="form-check-label" for="personnel">Privé</label>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary">Télécharger l'extrait</button>
                </form>
            </div>
        </div>
    </div>
     <script>
    function deselectOtherCheckboxes(clickedCheckbox) {
        var checkboxes = document.querySelectorAll('input[type="checkbox"]');
        checkboxes.forEach(function(checkbox) {
            if (checkbox !== clickedCheckbox) {
                checkbox.checked = false;
            }
        });
    }
</script>

{% endblock %}
