{% extends 'crazymix/base.html' %}
{% load static %}

{% block title %}Crazymix-Accueil{% endblock %}
<div style="background-image: url('{% static "crazymix/img/studio.jpg" %}'); background-size: cover;">
    {% block contenu %}
        {% if 'is_authenticated' not in request.session %}
            <a class="btn btn-light d-table mt-5 mx-auto" href="{% url 'register' %}">M'inscrire</a>
        {% endif %}
        {% if 'is_authenticated' in request.session %}
            <a class="btn btn-light d-table mt-5 mx-auto" href="/crazymix/reservation/new">Réserver ma session au
                studio</a>
        {% endif %}
        {% if extraits_public %}
            {% csrf_token %}
            {% for extrait in extraits_public %}
                {% if extrait.partage == 'PUBLIC' %}
                    <div class="row">
                        <div class="col-md-4-3">
                            <div class="card-body">
                                <div class="d-flex justify-content-between">
                                    <h4 class="ml-3 mt-4">{{ extrait.nom }}</h4>
                                    <div class="mt-4 mr-3">
                                        {% if 'is_authenticated' in request.session %}
                                            <a onclick="modifierFavoris(event)" href="#"><img id="{{ extrait.id }}"
                                                    {% if extrait.favoris == 'True' %}
                                                                                              src="{% static 'crazymix/img/favoris.png' %}"
                                                    {% else %}
                                                                                              src="{% static 'crazymix/img/ajouter_favoris.png' %}"
                                                    {% endif %}
                                                                                              style="Width:32px;border-radius: 22px;"/></a>
                                        {% endif %}
                                    </div>
                                </div>

                                <audio controls>
                                    <source src="{{ extrait.audio }}" type="audio/mpeg">
                                </audio>
                                {% if 'is_authenticated' in request.session %}
                                    <div class="ml-2 mr-2 bg-dark rounded-pill d-flex justify-content-around align-items-center">
                                    <a onclick="modifierReaction(event)" href="#"><img id="frowning/{{ extrait.id }}"
                                                                                       src="{% static 'crazymix/img/frowning.png' %}"
                                            {% if extrait.reactionActive == 'FROWNING' %}
                                                                                       name="active{{ extrait.id }}"
                                                                                       style="Width:55px;border-radius: 20px;"
                                            {% else %}
                                                                                       style="Width:43px;border-radius: 20px;"
                                            {% endif %}

                                    /></a>
                                    <a onclick="modifierReaction(event)" href="#"><img id="blushing/{{ extrait.id }}"
                                                                                       src="{% static 'crazymix/img/blushing.png' %}"
                                            {% if extrait.reactionActive == 'BLUSHING' %}
                                                                                       style="Width:55px;border-radius: 20px;"
                                                                                       name="active{{ extrait.id }}"
                                            {% else %}
                                                                                       style="Width:43px;border-radius: 20px;"
                                            {% endif %}

                                    /></a>
                                    <a onclick="modifierReaction(event)" href="#"><img id="winky/{{ extrait.id }}"
                                                                                       src="{% static 'crazymix/img/winky.png' %}"
                                            {% if extrait.reactionActive == 'WINKY' %}
                                                                                       style="Width:55px;border-radius: 20px;"
                                                                                       name="active{{ extrait.id }}"
                                            {% else %}
                                                                                       style="Width:43px;border-radius: 20px;"
                                            {% endif %}

                                    /></a>
                                    <a onclick="modifierReaction(event)" href="#"><img id="love/{{ extrait.id }}"
                                                                                       src="{% static 'crazymix/img/love.png' %}"
                                            {% if extrait.reactionActive == 'LOVE' %}
                                                                                       style="Width:55px;border-radius: 20px;"
                                                                                       name="active{{ extrait.id }}"
                                            {% else %}
                                                                                       style="Width:43px;border-radius: 20px;"
                                            {% endif %}
                                    /></a>
                                    <a onclick="modifierReaction(event)" href="#"><img id="cool/{{ extrait.id }}"
                                                                                       src="{% static 'crazymix/img/cool.png' %}"
                                            {% if extrait.reactionActive == 'COOL' %}
                                                                                       style="Width:55px;border-radius: 20px;"
                                                                                       name="active{{ extrait.id }}"
                                            {% else %}
                                                                                       style="Width:43px;border-radius: 20px;"
                                            {% endif %}

                                    /></a>
                                    <img
                                            src="{% static 'crazymix/img/plus.png' %}" class="mb-5"
                                            {#                                            {% if extrait.reaction == 'True' %}#}
                                            style="Width:15px;height:15px;border-radius:20px;"
                                            {#                                            {% else %}#}
                                            {#                                                style="Width:32px;border-radius: 22px;"/></a>#}
                                            {#                                            {% endif %}#}

                                    />
                                {% endif %}
                                </div>
                            </div>

                        </div>
                    </div>
                {% else %}
                    {% if 'is_authenticated' in request.session and extrait.partage == 'COMMUNAUTE' %}

                        <div class="row">
                            <div class="col-md-4-3">
                                <div class="card-body">
                                    <div class="d-flex">
                                        <h4 class="ml-3 mt-3">{{ extrait.nom }}</h4>
                                        <div class="ml-2 mt-3">
                                            {% if 'is_authenticated' in request.session %}
                                                <a onclick="modifierFavoris(event)" href="#"><img id="{{ extrait.id }}"
                                                        {% if extrait.favoris == 'True' %}
                                                                                                  src="{% static 'crazymix/img/favoris.png' %}"
                                                        {% else %}
                                                                                                  src="{% static 'crazymix/img/ajouter_favoris.png' %}"
                                                        {% endif %}
                                                                                                  style="Width:32px;border-radius: 22px;"/></a>
                                            {% endif %}
                                        </div>
                                    </div>
                                    <audio controls>
                                        <source src="{{ extrait.audio }}" type="audio/mpeg">
                                    </audio>
                                    {% if 'is_authenticated' in request.session %}
                                        <div class="ml-2 mr-2 bg-dark rounded-pill d-flex justify-content-around align-items-center">
                                            <a onclick="modifierReaction(event)" href="#"><img
                                                    id="frowning/{{ extrait.id }}"
                                                    src="{% static 'crazymix/img/frowning.png' %}"
                                                    {% if extrait.reactionActive == 'FROWNING' %}
                                                    name="active{{ extrait.id }}"
                                                    style="Width:55px;border-radius: 20px;"
                                                    {% else %}
                                                    style="Width:43px;border-radius: 20px;"
                                                    {% endif %}

                                            /></a>
                                            <a onclick="modifierReaction(event)" href="#"><img
                                                    id="blushing/{{ extrait.id }}"
                                                    src="{% static 'crazymix/img/blushing.png' %}"
                                                    {% if extrait.reactionActive == 'BLUSHING' %}
                                                    style="Width:55px;border-radius: 20px;"
                                                    name="active{{ extrait.id }}"
                                                    {% else %}
                                                    style="Width:43px;border-radius: 20px;"
                                                    {% endif %}

                                            /></a>
                                            <a onclick="modifierReaction(event)" href="#"><img
                                                    id="winky/{{ extrait.id }}"
                                                    src="{% static 'crazymix/img/winky.png' %}"
                                                    {% if extrait.reactionActive == 'WINKY' %}
                                                    style="Width:55px;border-radius: 20px;"
                                                    name="active{{ extrait.id }}"
                                                    {% else %}
                                                    style="Width:43px;border-radius: 20px;"
                                                    {% endif %}

                                            /></a>
                                            <a onclick="modifierReaction(event)" href="#"><img
                                                    id="love/{{ extrait.id }}"
                                                    src="{% static 'crazymix/img/love.png' %}"
                                                    {% if extrait.reactionActive == 'LOVE' %}
                                                    style="Width:55px;border-radius: 20px;"
                                                    name="active{{ extrait.id }}"
                                                    {% else %}
                                                    style="Width:43px;border-radius: 20px;"
                                                    {% endif %}
                                            /></a>
                                            <a onclick="modifierReaction(event)" href="#"><img
                                                    id="cool/{{ extrait.id }}"
                                                    src="{% static 'crazymix/img/cool.png' %}"
                                                    {% if extrait.reactionActive == 'COOL' %}
                                                    style="Width:55px;border-radius: 20px;"
                                                    name="active{{ extrait.id }}"
                                                    {% else %}
                                                    style="Width:43px;border-radius: 20px;"
                                                    {% endif %}

                                            /></a>
                                            <img
                                                    src="{% static 'crazymix/img/plus.png' %}" class="mb-5"
                                                    {#                                            {% if extrait.reaction == 'True' %}#}
                                                    style="Width:15px;height:15px;border-radius:20px;"
                                                    {#                                            {% else %}#}
                                                    {#                                                style="Width:32px;border-radius: 22px;"/></a>#}
                                                    {#                                            {% endif %}#}

                                            />
                                        </div>
                                    {% endif %}

                                </div>

                            </div>
                        </div>
                    {% endif %}
                {% endif %}

            {% endfor %}

        {% endif %}

        </div>
        <script type="text/javascript" src="{% static 'favoris_reaction.js' %}"></script>
{#        <script type="text/javascript" src="{% static 'reactions.js' %}"></script>#}

    {% endblock %}
