{% extends 'crazymix/base.html' %}
{% load static %}
{% block title %}Crazymix-Mon compte{% endblock %}

{% block contenu %}


 <form method="POST" novalidate enctype="multipart/form-data">
    {% csrf_token %}
    {% for field in form.visible_fields %}
            <div class="form-group">
                <div class="text-danger">{{ field.errors }}</div>
                <label class="text-dark d-block m-auto" for="{{ field.id_for_label }}">{{ field.label_tag }}</label>
                {{ field }}
            </div>
        {% endfor %}
    <button class="btn btn-primary" type="submit">Enregistrer</button>
  <a class="btn btn-primary" href="{% url 'compte' %}">Retour</a>
  </form>

{% endblock %}