{% extends 'crazymix/base.html' %}
{% load static %}
{% block title %}Crazymix-Réservation{% endblock %}

{% block contenu %}
    <form id="reservationForm" method="post" action="{% url 'reservation' %}">
        <input type="hidden" id="reservation_id" name="reservation_id" value={{ reservation_id }}>
        <input type="text" style="visibility: hidden;" name="reservation"></input>
        <input type="text" style="visibility: hidden;" name="dateIndicator" value="{{ dateIndicator }}"></input>
        <input type="text" style="visibility: hidden;" name="dateToday" value="{{ today }}"></input>
        <input type="text" style="visibility: hidden;" name="direction"></input>
        <h3 class="text-center mb-3">{{ moisSemaine }} {{ year }}</h3>
        {% if isThisWeek is None %}
            <div class="d-flex align-items-center justify-content-center">
            <a href="#" id="previous" onclick="getOtherWeek('previous')"><img class="mr-3"
                                                                              src="{% static 'crazymix/img/arrow_left.png' %}"
                                                                              style="Width:35px;"/></a>
        {% else %}
            <div class="d-flex align-items-center justify-content-center">
            <a href="#" id="previous" style="visibility: hidden;"><img class="mr-3"
                                                                       src="{% static 'crazymix/img/arrow_left.png' %}"
                                                                       style="Width:35px;"/></a>

        {% endif %}
        <div>
            <ul class="messages">
                {% for message in messages %}
                    <li {% if message.tags %} class="{{ message.tags }} text-danger"{% endif %}>{{ message }}</li>
                {% endfor %}
            </ul>
            <table class="table table-dark">
                <thead>
                <tr>
                    {% for jour in datesSemaine %}
                        <th class="text-center" style="{{ jour.style }}"
                            scope="col">{{ jour.jour }}<br>{{ jour.date }}
                        </th>
                    {% endfor %}
                </tr>
                </thead>
                <tbody>
                {% for heure in heures %}
                    <tr>
                        {#  Parcours des jours de la semaine  #}
                        {% for jour in datesSemaine %}
                            <td class="text-center align-middle">
                                {% if heure.hDebut in jour.indisponibilites %}
                                    <div style="height:100%;width:100%" class="text-secondary px-2">
                                                {{ heure.hDebut }}:00 - {{ heure.hFin }}:00
                                            </div>

                                {% elif jour.classe is None %}
                                    {% if jour.date == today.date and isThisWeek %}
                                        {% if heure.classe is None %}
                                            <a class="text-white btn btn-dark" onClick="selectSchedule(this)">
                                                <div style="height:100%;width:100%" name="{{ jour.dateComplete }}">
                                                    {{ heure.hDebut }}:00 - {{ heure.hFin }}:00
                                                </div>
                                            </a>
                                        {% else %}
                                            <div style="height:100%;width:100%" class="{{ heure.classe }}">
                                                {{ heure.hDebut }}:00 - {{ heure.hFin }}:00
                                            </div>
                                        {% endif %}
                                    {% else %}
                                        <a class="text-white btn btn-dark" onClick="selectSchedule(this)">
                                            <div style="height:100%;width:100%" name="{{ jour.dateComplete }}"
                                                 classe="{{ heure.classe }}">
                                                {{ heure.hDebut }}:00 - {{ heure.hFin }}:00
                                            </div>
                                        </a>
                                    {% endif %}

                                {% else %}
                                    <div class="{{ jour.classe }}" style="height:100%;width:100%{{ jour.style }}">
                                        {{ heure.hDebut }}:00 - {{ heure.hFin }}:00
                                    </div>
                                {% endif %}
                            </td>
                        {% endfor %}
                    </tr>
                {% endfor %}
                </tbody>
            </table>

            {% csrf_token %}
            <div class="d-flex justify-content-end">

                {#                    <a onclick="bookReservation(this)" class="btn btn-secondary ml-2 btn-lg mb-5" type="submit">Réserver#}
                {#                        <span#}
                {#                                class="badge badge-light"></span></a>#}
                <button type="submit" class="btn btn-secondary ml-2 btn-lg mb-5">Réserver
                    <span
                            class="badge badge-light"></span></button>
                {#                       <button type="submit" class="btn btn-secondary ml-2 btn-lg mb-5">Réserver#}
                {#                        <span#}
                {#                                 class="badge badge-light"></span></button>#}
            </div>
        </div>
        <a href="#" id="next" onclick="getOtherWeek('next')"><img class="ml-3"
                                                                  src="{% static 'crazymix/img/arrow_right.png' %}"
                                                                  style="Width:35px;"/></a>
        </div>
    </form>
    <script type="text/javascript" src="{% static 'reservation.js' %}"></script>
{% endblock %}