{% extends 'crazymix/base.html' %}
{% load static %}
{% block title %}Crazymix-Réservation{% endblock %}

{% block contenu %}
    <h4 class="text-center mt-3">{{ moisSemaine }}</h4>
    <form>
        <table class="table table-dark">
            <thead>
            <tr>
                {% for jour in datesSemaine %}
                    <th class="text-center" style="{{ jour.style }}" scope="col">{{ jour.jour }}<br>{{ jour.date }}</th>
                {% endfor %}
            </tr>
            </thead>
            <tbody>
            {% for heure in heures %}
                <tr>
                    {% for jour in datesSemaine %}
                        <td class="text-center align-middle">
                            {% if jour.classe is None %}
                                {% if jour.date == today %}
                                    {% if heure.classe is None %}
                                        <a class="text-white btn btn-dark" href="http://example.com">
                                            <div style="height:100%;width:100%">
                                                {{ heure.hDebut }}:00 - {{ heure.hFin }}:00
                                            </div>
                                        </a>
                                    {% else %}
                                        <div style="height:100%;width:100%" class="{{ heure.classe }}">
                                            {{ heure.hDebut }}:00 - {{ heure.hFin }}:00
                                        </div>
                                    {% endif %}
                                {% else %}
                                    <a class="text-white btn btn-dark" href="http://example.com">
                                        <div style="height:100%;width:100%" classe="{{ heure.classe }}">
                                            {{ heure.hDebut }}:00 - {{ heure.hFin }}:00
                                        </div>
                                    </a>
                                {% endif %}

                            {% else %}
                                <div class="{{ jour.classe }}" style="height:100%;width:100%{{ jour.style }}">
                                    {{ heure.hDebut }}:00 - {{ heure.hFin }}:00
                                </div>
                            {% endif %}
                        </td>
                    {% endfor %}
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <div class="d-flex justify-content-end">
            <p name="reservation"></p>
            <button class="btn btn-secondary ml-2 btn-lg mb-5" type="submit">Réserver <span class="badge badge-light">5 février 10:00-11:00</span></button>
        </div>
    </form>

{% endblock %}