{% extends 'crazymix/base.html' %}
{% load static %}
{% block title %}Crazymix-Mes sessions{% endblock %}

{% block contenu %}

    <ul class="messages">
        {% for message in messages %}
            <li {% if message.tags %} class="{{ message.tags }} text-success"{% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>

     {% for x in reservations %}
         <div class="row m-5" >
            <div class="col-4">{{  x.debut}}-{{ x.fin }}</div>
         <div class="col-6"><a  class="btn btn-primary "  href="{% url 'reservationModif' x.id %}">Modifier</a>

             <a  class="btn btn-primary"  href="{% url 'annulerReservation' x.id  %}">Annuler</a></div>
         </div>
    {% endfor %}




{% endblock %}